version: '3.8'

services:
  alertmanager:
    image: prom/alertmanager:v0.26.0
    container_name: quantum_alertmanager
    restart: unless-stopped
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
    ports:
      - "127.0.0.1:9093:9093"
    volumes:
      - ./monitoring/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - alertmanager_data:/alertmanager
    networks:
      - quantum_trader
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 128M

volumes:
  alertmanager_data:
