[Unit]
Description=Order execution
Requires=quantum-brains.target quantum-ai.target
After=quantum-brains.target quantum-ai.target

[Install]
WantedBy=quantum-trader.target
